@charset "utf-8";
.tab-menu {
  margin-top: 20px;
}
.tab {
  font-size: 15px;
  padding: 20px 80px;
  background: rgb(164, 216, 164);
  color: rgb(243, 237, 237);
  cursor: pointer;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.tab+.tab {
  margin-left: 10px;
}
.active {
  opacity: 0.5;
}
.content-tab-item {
  display: none;
}
.active-tab {
  display: inline-block;
}

/* CSS Document */
html {
  	background-color: 	#000000;
	font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Raleway', sans-serif;/* this should be the rest of the output you got from Google fonts */
}
h1 {
  margin: 0;
  padding: 20px 0;    
}

p, li {
  padding:10px;
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 1000px; /*độ rộng của khung body*/
  margin: 0 auto;
  background-color: #fffaf0;
  padding: 20px 10px 10px 10px;/* padding là trượt từ trên xuống dưới lên trái phải*/
  border: px solid black;
}
img {
  display: block;
  margin: 0 auto;
}
audio {
  padding:20px 20px 5px 3px;
  width: 250px;
  height: 54px;

}